* {
	margin: 0px;
	/* padding: 5px; */
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(https://assets.nflxext.com/ffe/siteui/vlv3/a795ee10-8c6d-467c-8159-254be2b69013/c08e0e8a-d28f-4d82-bf93-0a9531b58a6d/IN-en-20220912-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
	background-blend-mode: darken;
	background-size: cover;
	/* width: 100%; */
}
nav {
	width: 100%;
	margin: auto;
	padding: 5px 0px;
	display: grid;
	grid-template-columns: 15% 30%;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid white; */
}
nav img {
	width: 85%;
	margin: auto;

	padding: 5px 20px;
	/* border: 1px solid yellow; */
}

nav ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-around;
	align-items: center;
	height: 100%;
	/* border: 1px solid yellow; */
}
nav a {
	text-decoration: none;
	font-size: larger;
	/* padding: 2% 2%; */
	color: white;
	font-weight: bold;
}
nav button {
	background-color: #e50914;
	width: fit-content;
	border: none;
	padding: 10px;
	display: block;
	/* border: 1px solid white; */
	margin: auto;
	border-radius: 5px;
}
nav li {
	list-style: none;
	display: inline-block;
	width: fit-content;
}

form input,
form label {
	width: 100%;
	outline: none;
	border: none;
	margin-bottom: 3%;
	color: white;
	font-family: sans-serif;
	margin-top: 1%;
}

form label {
	color: white;
	font-size: large;
}
form input {
	padding: 2%;
	background-color: #333333;
	font-size: large;
	font-size: large;
	margin-bottom: 5%;
}
form input:last-child {
	padding: 3%;
	color: white;
	font-weight: bold;
	background-color: #e50914;
	border-radius: 5px;
}
form h1 {
	color: white;
	margin-bottom: 5%;
	font-family: sans-serif;
	text-align: center;
}

form {
	width: 33%;
	/* border: 1px solid white; */
	margin: auto;
	margin-top: 3%;
	padding: 2% 4%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
}


